<h2>Government Jobs</h2>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    03-Dec-2020 – Thursday
  </a>
  <div class="list-group-item list-group-item-action">
    <h4>
    <a href="/details" id="job_heading">
      Shaheed Mohtarma Benazir Bhutto Medical College Lyari Karachi Jobs 2020 December Walk in Interview Latest
    </a>
    </h4>
    <p id="city">in Karachi</p>
  </div>
  <a href="#" class="list-group-item list-group-item-action">Lyari General Hospital Karachi Jobs December 2020 ICU
    Technicians, Ward Servants & Others Walk In Interview Latest</a>
  <a href="#" class="list-group-item list-group-item-action">Ministry of National Health Services Regulation and
    Coordination Jobs 2020 December Application Form Safe Blood Transfusion Services Project Latest</a>
</div>


