<h3>Advertisement Details</h3>
<div class="page-header">
<h5>December-3-2020 in Daily Express</h5>
</div>
  <table class="table table-bordered table-dark">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Job Name</th>
    <th scope="col">Criteria</th>
    <th scope="col">Age</th>
    <th scope="col">Total Positions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>33</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>12</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>asdfasdf</td>
    <td>@twitter</td>
    <td>@twitter</td>
    <td>23</td>
  </tr>
  </tbody>
</table>


<h3>Advertisement</h3>

<div class="text-center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Fronalpstock_big.jpg/1200px-Fronalpstock_big.jpg" class="rounded" alt="Test image">
</div>
